.OuterWrapper{
    width: 100%;
    min-width: 300px;
    height: 170px;
    display: grid;
    grid-template-columns: 170px calc(100% - 170px);
    grid-template-rows: 100%;
    padding: 10px;
    text-decoration: none;
}

.OuterWrapper:hover{
    cursor: pointer;
}

.OuterWrapper:hover h2{
    transition: color 250ms 250ms;
    color: #ad9d40;
}

.Image{
    height: 150px;
    width: 150px;
}

.Details{
    height: 100%;
    max-height: 190px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #222;
    position: relative;
}
.H1, .H2, .P {
    transition: font-size 500ms;
}

.H1 {
    color: #882810;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25em;
}
.H2 {
    font-family: 'Teko', sans-serif;
    font-size: 1.75em;
}
.P {
    font-size: 1em;
    font-family: 'Merriweather Sans', sans-serif;
}

/* This is another way to do the Fade without adding a dom element */
/* 
.Details::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 75px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
} */

.Fade{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white);
}

@media only screen and (min-width: 450px) and (max-width: 750px){
    .H1, .P{
        font-size: 1em;
    }
    .H2{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 400px) and (max-width: 450px){
    .H1, .P{
        font-size: 0.9em;
    }
    .H2{
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 400px) {
    .H1, .P{
        font-size: 0.8em;
    }
    .H2{
        font-size: 1.25em;
    }
}