.OuterWrapper {
    width:100%;
    min-width: 300px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(100% - 75px);
}

.Header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 75px;
    font-family: 'Teko', sans-serif;
    background-color: #fdd603;
    color: #222;
    box-shadow: 0px 0px 12px rgba(134, 106, 31, 0.25);
}

.Main {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 5px;
}

/* These can be combined */
.H1, .H2 {
    font-size: 2em;
    margin: 0px 5px;
    padding-top: 5px;
}

.ReadMoreButton {
    border: none;
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: #866b1f;
}

.ReadMoreButton:hover {
    cursor: pointer;
    transition: color 250ms 250ms;
    color: #882810;
}

.ReadMoreButton:active {
    text-decoration: none;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 450px){
    .Header {
        padding-left: 10px;
    }
    .H1, .H2{
        font-size: 2.0em;
    }
}